<%= form_for(@adventurer) do |f| %>
  <% if @adventurer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventurer.errors.count, "error") %> prohibited this adventurer from being saved:</h2>

      <ul>
      <% @adventurer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :str %><br>
    <%= f.number_field :str %>
  </div>
  <div class="field">
    <%= f.label :dex %><br>
    <%= f.number_field :dex %>
  </div>
  <div class="field">
    <%= f.label :con %><br>
    <%= f.number_field :con %>
  </div>
  <div class="field">
    <%= f.label :int %><br>
    <%= f.number_field :int %>
  </div>
  <div class="field">
    <%= f.label :wis %><br>
    <%= f.number_field :wis %>
  </div>
  <div class="field">
    <%= f.label :cha %><br>
    <%= f.number_field :cha %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.collection_select :gender, Gender.all, :id, :name, prompt: true %>
  </div>
   <div class="field">
    <%= f.label :race %><br>
    <%= f.collection_select :race, Race.all, :id, :name, prompt: true %>
  </div>
   <div class="field">
    <%= f.label :chr_class %><br>
    <%= f.collection_select :chr_class, ChrClass.all, :id, :name, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
