<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adventurer.name %>
</p>

<p>
  <strong>Str:</strong>
  <%= @adventurer.str %>
</p>

<p>
  <strong>Dex:</strong>
  <%= @adventurer.dex %>
</p>

<p>
  <strong>Con:</strong>
  <%= @adventurer.con %>
</p>

<p>
  <strong>Int:</strong>
  <%= @adventurer.int %>
</p>

<p>
  <strong>Wis:</strong>
  <%= @adventurer.wis %>
</p>

<p>
  <strong>Cha:</strong>
  <%= @adventurer.cha %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @adventurer.gender.name if @adventurer.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @adventurer.race.name if @adventurer.race %>
</p>

<p>
  <strong>Class:</strong>
  <%= @adventurer.chr_class.name if @adventurer.chr_class %>
</p>

<%= link_to 'Edit', edit_adventurer_path(@adventurer) %> |
<%= link_to 'Back', adventurers_path %>
