<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adventurer.name %>
</p>

<p>
  <strong>Str:</strong>
  <%= @adventurer.str %>
</p>

<p>
  <strong>Dex:</strong>
  <%= @adventurer.dex %>
</p>

<p>
  <strong>Con:</strong>
  <%= @adventurer.con %>
</p>

<p>
  <strong>Int:</strong>
  <%= @adventurer.int %>
</p>

<p>
  <strong>Wis:</strong>
  <%= @adventurer.wis %>
</p>

<p>
  <strong>Cha:</strong>
  <%= @adventurer.cha %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @adventurer.gender.name if @adventurer.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @adventurer.race.name if @adventurer.race %>
</p>

<p>
  <strong>Class:</strong>
  <%= @adventurer.chr_class.name if @adventurer.chr_class %>
</p>

<%= link_to 'Edit', edit_adventurer_path(@adventurer) %> |
<%= link_to 'Back', adventurers_path %>

<div class="container">
  <div class="row well">
    <div class="col-sm-5"><p>Character Name:</p></div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6">Class & Level: </div>
        <div class="col-sm-6">Player Name:</div>
      </div>
      <div class="row">
        <div class="col-sm-4">Race:</div>
        <div class="col-sm-4">Alignment:</div>
        <div class="col-sm-4">Experience:</div>
      </div>
    </div>
  </div>
  <div class="row"><!-- main row -->
    <div class="col-sm-4">
      <div class="row well">
        Proficiency Bonus        
      </div>
      <div class="row well">
        Inspiration
      </div>
      <div class="row well"> <!-- Stat block start -->
        <div class="col-sm-2">
          <div class="stat">
          <div class="stat-label">
            <p class="lead">STR</p>
          </div>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.str %></span>
            </div>
          </div>
        </div>
        </div>
        <div class="col-sm-10">
          
        </div>
      </div> <!-- Stat block end -->
      <div class="row well"> <!-- Stat block start -->
        <div class="col-sm-2">
          <div class="stat-label">
            <p class="lead">DEX</p>
          </div>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.dex %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          
        </div>
      </div> <!-- Stat block end -->
      <div class="row well"> <!-- Stat block start -->
        <div class="col-sm-2">
          <div class="stat-label">
            <p class="lead">CON</p>
          </div>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.con %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          
        </div>
      </div> <!-- Stat block end -->
      <div class="row well"> <!-- Stat block start -->
        <div class="col-sm-2">
          <div class="stat-label">
            <p class="lead">INT</p>
          </div>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.int %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          
        </div>
      </div> <!-- Stat block end -->
      <div class="row well"> <!-- Stat block start -->
        <div class="col-sm-2">
          <div class="stat-label">
            <p class="lead">WIS</p>
          </div>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.wis %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          
        </div>
      </div> <!-- Stat block end -->
      <div class="row well"> <!-- Stat block start -->
        <div class="col-sm-2">
          <div class="stat-label">
            <p class="lead">CHA</p>
          </div>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          
        </div>
      </div> <!-- Stat block end -->
      
    </div>
    <div class="col-sm-8">
      <div class="row well">
        <div class="col-sm-2">AC: =
        <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-2"><small>Dex Mod:</small>
          <div class="stat-box">
              <div class="stat-content">
                  <span><%= @adventurer.cha %></span>
              </div>
            </div>
        </div>
        <div class="col-sm-2"><small>Armor:</small>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-2"><small>Misc:</small>
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-2"><small>Initiative:
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-2">Speed:
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row"><!--Hp and feats row-->
        <div class="col-sm-6">
          <div class="row well">HP:
          <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
          </div>
          <div class="row well">
            <div class="col-sm-6">Hit Dice:
              <div class="stat-box">
            <div class="stat-content">
                <span><%= @adventurer.cha %></span>
            </div>
          </div>
            </div>
            <div class="col-sm-6">Death Saves:</div>
          </div>
          <div class="row well">
            <div class="col-sm-4">Spellcasting Ability:</div>
            <div class="col-sm-4">Spell Save DC:</div>
            <div class="col-sm-4">Spell Attack Bonus:</div>
          </div>
        </div>
        <div class="col-sm-6 well">
          Feats:
        </div>
      </div><!--Hp and feats row-->
        <div class="row"><!--Weapons, money, and Features row-->
          <div class="col-sm-6">
            <div class="row well"><!--Weapons sub row-->
              <div class="row">
                <div class="col-sm-8">Weapon:</div>
                <div class="col-sm-4">Type:</div>
              </div>
              <div class="row">
                <div class="col-sm-3">Range:</div>
                <div class="col-sm-2">Atk Bonus:</div>
                <div class="col-sm-7">Damage:</div>
              </div>
              <div class="row">
                <div class="col-sm-8">Weapon:</div>
                <div class="col-sm-4">Type:</div>
              </div>
              <div class="row">
                <div class="col-sm-3">Range:</div>
                <div class="col-sm-2">Atk Bonus:</div>
                <div class="col-sm-7">Damage:</div>
              </div>
              <div class="row">
                <div class="col-sm-8">Weapon:</div>
                <div class="col-sm-4">Type:</div>
              </div>
              <div class="row">
                <div class="col-sm-3">Range:</div>
                <div class="col-sm-2">Atk Bonus:</div>
                <div class="col-sm-7">Damage:</div>
              </div>
            </div><!--Weapons sub row-->
            <div class="row well"><!--Money sub row-->
              <div class="col-sm-2">
                <div class="row">CP:</div>
                <div class="row">SP:</div>
                <div class="row">GP:</div>
                <div class="row">PP:</div>
              </div>
              <div class="col-sm-10"></div>
            </div><!--Money sub row-->
          </div>
          <div class="col-sm-6 well">
            Features:
          </div>
        </div><!--Weapons, money, and Features row-->
       </div> 
  </div> <!-- main row -->
</div> <!-- container -->